{% extends "structure.html" %}
{% block inside %}
<div class="d-flex justify-content-center align-items-center" style="padding-top:1%;">
    <h1 class="border-top pt-10">
      <small class="text-muted" style="font-size: medium;">
        <a class="btn btn-large ml-2" style="background-color:black;font-size:x-large;font-weight: bolder;color:white;" href="{{ url_for('admin_category') }}">Add Category+</a>
    
    </small>
    </h1>
  </div>
<div class="container-fluid">
   
    <div class="row">
        {% set counter = 0 %}

        {% for category in categories %}
        <div class="col-md-3 col-md-push-3">
            <div class='card card-card2'>
                <div class='card-title2'>{{ category.name }}</div>
               <div class='card-body2'>No. of Products
                <div style="font-size:xx-large;text-align: center;color: black;">{{ category.get_product_count() }}</div>
                <div class="d-flex justify-content-center align-items-center">
                <a class="btn btn-success btn-sm m-1" href="{{url_for('update_category',category_id=category.id)}}" style="color: black;font-weight: bolder;"> Update</a>
                <a class="btn btn-danger btn-sm m-1" href="{{ url_for('confirm_delete_category', category_id=category.id) }}"
   style="color: black; font-weight: bolder;">Delete</a>
                <a class="btn btn-success btn-sm m-1" href="{{url_for('view_by_category',cat_id=category.id)}}" style="color: black;font-weight: bolder;"> View Products</a>
                <div id="popup{{ counter }}" class="overlay">
                    <div class="popup">
                        <p style="font-size: medium; text-align: center; color: black; font-weight: bolder;">Are you sure you want to delete?</p>
                        <a class="close" href="#">&times;</a>
                        <div class="d-flex  justify-content-center align-items-center border-top" style="height: 100px;">
                            <a href="#" class="centered-link  btn bn-secondary mr-2" style="background-color:black;color: white;">No</a>
                            <form action="{{ url_for('delete_category', category_id=category.id) }}" method="POST">
                                <input class="btn btn-danger" type="submit" value="Yes Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div></div>
            </div>
        </div>
     
        
        {% endfor %}
    </div>
  
{% endblock inside %}
